<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ASS - {{story.story_detail.story_name}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/leader-line.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?bcee21b4258e0a29c60e8e3a611633e5";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {#
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"> #}

</head>

<body>
    <main>
        <div class="navbar">
            <a href="/index.html" class="dropbtn"><i class="fas fa-home"></i></a>
            <div class="seperator">/</div>
            <div class="dropdown">
                {# {% match category%}
                {% when "MAINLINE"%}
                <button class="dropbtn">主线</button>
                {% when "ACTIVITY"%}
                <button class="dropbtn">活动</button>
                {% when "MINI_ACTIVITY"%}
                <button class="dropbtn">小活动</button>
                {% when "NONE"%}
                <button class="dropbtn">其他</button>
                {% else%} #}
                <button class="dropbtn"><a href="/cat/{{category}}.html" class="hover-underline-animation">{{category}}</a></button>
                {# {% endmatch%} #}
                <div class="dropdown-content">
                    {% for cat in categories%}
                    <a href="/cat/{{cat}}.html" class="hover-underline-animation">
                        {# {% match cat%} #}
                        {# {% when "MAINLINE"%}主线
                        {% when "ACTIVITY"%}活动
                        {% when "MINI_ACTIVITY"%}小活动
                        {% when "NONE"%}其他
                        {% else%}{{cat}} #}
                        {{cat}}
                        {# {% endmatch%} #}
                    </a>
                    {% endfor%}
                </div>
            </div>
            <div class="seperator">/</div>
            <div class="dropdown">
                <button class="dropbtn"><a href="/act/{{activity.id}}.html" class="hover-underline-animation">{{activity.name}}</a></button>
                <div class="dropdown-content">
                    {% for a in activities%}
                    {% if a.id == activity.id%}
                    <a href="/act/{{a.id}}.html" class="current">{{a.name}}</a>
                    {% else%}
                    <a href="/act/{{a.id}}.html" class="hover-underline-animation">{{a.name}}</a>
                    {% endif%}
                    {% endfor%}
                </div>
            </div>
            <div class="seperator">/</div>
            <div class="dropdown">
                <button class="dropbtn"><a href="/{{story.story_txt}}.html" class="hover-underline-animation">{{story.story_detail.story_name}} {{story.story_detail.avg_tag}}</a></button>
                <div class="dropdown-content longer">
                    {% for s in stories%}
                    {% if s.story_txt == story.story_txt%}
                    <a class="current">{{story.story_detail.story_name}} {{story.story_detail.avg_tag}}</a>
                    {% else%}
                    <a href="/{{s.story_txt}}.html" class="hover-underline-animation">{{s.story_detail.story_name}} {{s.story_detail.avg_tag}}</a>
                    {% endif%}
                    {% endfor%}
                </div>
            </div>
        </div>
        <div class="prevnext">
            <div class="prev">
                {% match prev%}
                {% when Some with (prev)%}
                <a href="/{{prev.story_txt}}.html"><i class="fas fa-running fa-flip-horizontal"></i>
                    {{prev.story_detail.story_name}} {{prev.story_detail.avg_tag}}</a>
                {% else%}
                {% endmatch%}
            </div>
            <div class="return">
                返回 <a href="/act/{{activity.id}}.html"
                    style="font-weight:bold;text-decoration:none">{{activity.name}} </a>
            </div>
            <div class="next">
                {% match next%}
                {% when Some with (next)%}
                <a href="/{{next.story_txt}}.html">{{next.story_detail.story_name}} {{next.story_detail.avg_tag}}
                    <i class="fas fa-running"></i></a>
                {% else%}
                {% endmatch%}
            </div>
        </div>
        <div class="title">
            <h1 class="name">{{story.story_detail.story_name}} <div class="avgtag">{{story.story_detail.avg_tag}}</div>
            </h1>
            {% match story.story_detail.story_code%}
            {% when Some with (code)%}
            <div class="storycode1">{{code}}</div>
            {% else%}
            {% endmatch%}
        </div>
        <div class="maintext">
            {% for storyline in story.story_detail.story_lines %}
            {% match storyline %}
            {% when Decision with {id:id,attributes:attr}%}
            <div class="line" id="line{{id}}">
                <div class="options">
                    {% for (opt,line) in attr.options%}
                    <div class="option" id="line{{id}}_{{loop.index}}">
                        <span>{{opt}} <i class="fas fa-link" aria-hidden="true"></i></span>
                    </div>
                    {% endfor%}
                </div>
            </div>
            {% when Predicate with {id:id,attributes:attr,end_of_opt:eoo}%}
            <div class="line" id="line{{id}}">
                {% if !eoo%}
                <div class="predicate">
                    <div class="references">
                        <span>Option {{attr.references}}</span>
                    </div>
                    <div class="contentblock"></div>
                </div>
                {% else%}
                {% endif%}
            </div>
            {% when Dialogue with {id:id,attributes:attr,figure_art:fa}%}
            <div class="line" id="line{{id}}">
                <div class="textblock">
                    <div class="nameblock figure mytooltip tooltip-effect-1">
                    {% match attr.name %}{% when Some with (char_name)%}<span class="tooltip-item">{{char_name}}</span>
                    <span class="tooltip-content clearfix">
                    {% if fa != ""%}
                    <img src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/avg/characters/{{fa}}.png">
                    {% endif%}
                    <span class="tooltip-text"><a href="https://prts.wiki/index.php?search={{char_name}}">在PRTS搜索</a></span>
                    </span>{% else %}{% endmatch %}
                    </div>
                    <div class="contentblock">{{attr.content}}</div>
                </div>
            </div>
            {% when Text with {id:id,attributes:attr}%}
            {% match attr.text%}
            {% when Some with (text)%}
            <div class="line" id="line{{id}}">
                <div class="text">{{text}}</div>
            </div>

            {% else%}
            {% endmatch%}
            {% when Background with {id:id,attributes:attr}%}
            {% match attr.image%}
            {% when Some with (image)%}
            <div class="line" id="line{{id}}">
                <div class="background" role="none"><img
                        src="https://image-1258734717.cos.ap-beijing.myqcloud.com/avg/backgrounds/{{image}}.png.webp"
                        alt="{{image}}"><!----></div>
            </div>
            {% else %}
            {% endmatch %}
            {% when Image with {id:id,attributes:attr}%}
            {% match attr.image%}
            {% when Some with (image)%}
            <div class="line" id="line{{id}}">
                <div class="image" role="none"><img
                        src="https://image-1258734717.cos.ap-beijing.myqcloud.com/avg/images/{{image}}.png.webp"
                        alt="{{image}}"><!----></div>
            </div>
            {% else %}
            {% endmatch %}
            {% when Other with {id:id}%}
            <div class="line" id="line{{id}}"></div>
            {% endmatch %}
            {% endfor %}

        </div>
        <div class="prevnext">
            <div class="prev">
                {% match prev%}
                {% when Some with (prev)%}
                <a href="/{{prev.story_txt}}.html"><i class="fas fa-running fa-flip-horizontal"></i>
                    {{prev.story_detail.story_name}} {{prev.story_detail.avg_tag}}</a>
                {% else%}
                {% endmatch%}
            </div>
            <div class="return">
                返回 <a href="/act/{{activity.id}}.html"
                    style="font-weight:bold;text-decoration:none">{{activity.name}} </a>
            </div>
            <div class="next">
                {% match next%}
                {% when Some with (next)%}
                <a href="/{{next.story_txt}}.html">{{next.story_detail.story_name}} {{next.story_detail.avg_tag}}
                    <i class="fas fa-running"></i></a>
                {% else%}
                {% endmatch%}
            </div>
        </div>
        <script>
        window.addEventListener('load', function() {
         'use strict';
            {% for storyline in story.story_detail.story_lines %}
            {% match storyline %}
            {% when Decision with { id: id, attributes: attr } %}
            {% for (opt, line) in attr.options %}
            new LeaderLine(
                LeaderLine.mouseHoverAnchor({ element: document.querySelector("#line{{id}}_{{loop.index}} span"), style: { backgroundColor: null, backgroundImage: null }, hoverStyle: { backgroundColor: null }, showEffectName: 'draw', animOptions: { duration: 200, timing: [0.58, 0, 0.42, 1] } }),
                document.querySelector('#{{line}} .references span'),
                {
                    color: 'rgb(176, 15, 1)',
                    size: 3,
                    dash: true,
                    hide: true,
                    dropShadow: true
                }
            );
            {% endfor %}
            {% else%}
            {% endmatch %}
            {% endfor %}
            });
        </script>
    </main>
</body>

</html>